@import "finished-form.css";

/* Tamaños de letra */
.pdf-nav,
.pdf-nav div {
    font-size: 12px;
}

.pdf-content,
.pdf-content p,
.italic {
    font-size: 10px;
}

.pdf-content h3,
.bold {
    font-size: 11px;
}